body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a73e8;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #155ab6;
}

.foto {
    display: block;
    border-radius: 20px;
    margin: 0;
}